<!-- ABOUT US SECTION -->
<section id="about">
  <div class="about-grid">
    <article class="about-card">
      <div class="about-pill">
        <span class="about-pill-dot"></span>
        <span>About Us</span>
      </div>
      <h3>Lorem ipsum dolor sit amet</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas posuere, enim quis
        bibendum iaculis, mi mi lobortis mauris, vel cursus lorem lacus quis urna.
      </p>
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
        laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis.
      </p>
      <ul class="about-list">
        <li>
          <span>•</span>
          <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
        </li>
        <li>
          <span>•</span>
          <div>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse.</div>
        </li>
        <li>
          <span>•</span>
          <div>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit.</div>
        </li>
      </ul>
    </article>
  </div>
</section>
